<div class="p-3">
    <p class="h3">Ancient Travel Quotes Worth Remembering</p>
    <br />
    <p>
        The ultimate list of ancient travel quotes that are packed with wisdom and
        insight from a different time, yet are more relevant than ever. <br />
        Here are some travel quotes from the ancients that we particularly love.
    </p>
    <div class="quote">
        <blockquote>"The world is a book, and those who don't travel, read only one page."</blockquote>
    </div>
    <div class="saidby">
        <p>St. Augustine</p>
    </div>
    <div class="quote">
        <blockquote>"Adventure is worthwhile"</blockquote>
    </div>
    <div class="saidby">
        <p>Aristotel</p>
    </div>
    <div class="quote">
        <blockquote>
            “Experience, travel - these are as education in themselves."
        </blockquote>
    </div>
    <div class="saidby">
        <p>Euripides</p>
    </div>
    <div class="quote">
        <blockquote>"Travel brings power and love back into your life."</blockquote>
    </div>
    <div class="saidby">
        <p>Rumi</p>
    </div>
    <div class="quote">
        <blockquote>"Wherever you go, there you are."</blockquote>
    </div>
    <div class="saidby">
        <p>Confucius</p>
    </div>
</div>