<div class="navbody">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img class="navbar-brand logo1" routerLink="" src="../../assets/img/logo.png" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/travels">TRAVELS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">My Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="q">
    <p class="h1 p-5">Where will your wanderlust take you?</p>
  </div>
  <div class="txt">
    <p>TRAVELEX offers expertly crafted, luxurious holidays in some of the most exotic and beautiful destinations in
      the world.</p>
  </div>
</div>