<div class="p-3">
  <p class="h3 text-center">Ancient Travel Quotes Worth Remembering</p>
  <br />
  <p>
      The ultimate list of ancient travel quotes that are packed with wisdom and
      insight from a different time, yet are more relevant than ever. <br />
      Here are some travel quotes from the ancients that we particularly love.
  </p>
  
<div id="carouselExampleInterval" class="carousel slide p-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 3"></button>
  </div>
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/img/blog/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/img/blog/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/5.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/7.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/blog/9.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


    <div class="quote">
        <blockquote>"The world is a book, and those who don't travel, read only one page."</blockquote>
    </div>
    <div class="saidby">
        <p>St. Augustine</p>
    </div>
    <div class="quote">
        <blockquote>"Adventure is worthwhile"</blockquote>
    </div>
    <div class="saidby">
        <p>Aristotel</p>
    </div>
    <div class="quote">
        <blockquote>
            “Experience, travel - these are as education in themselves."
        </blockquote>
    </div>
    <div class="saidby">
        <p>Euripides</p>
    </div>
    <div class="quote">
        <blockquote>"Travel brings power and love back into your life."</blockquote>
    </div>
    <div class="saidby">
        <p>Rumi</p>
    </div>
    <div class="quote">
        <blockquote>"Wherever you go, there you are."</blockquote>
    </div>
    <div class="saidby">
        <p>Confucius</p>
    </div>
</div>