<div class="c1">
    <div class="p-2 text-center tit">
        <h1>Travel Details</h1>
    </div>
    <div *ngIf="trip">
        <div class="card m-3">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ trip.img }}" class="img-fluid rounded-start" alt="{{ trip.destination }}">
                </div>
                <div class="col-md-6">
                    <div class="card-header">
                        <h5 class="card-title">{{ trip.destination }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ trip.description }}
                        </p>
                        <p class="card-text">Start date : {{ trip.startDate }}
                        </p>
                        <p class="card-text">Duration : {{ trip.duration }}
                        </p>
                        <p class="card-text h3">Price: € {{ trip.price }}</p>
                    </div>
                    <div class="card-footer text-end">
                        <button class="h5 btn btn-success text-white" (click)="addToCart(trip)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
