.wasadded {
    background-image: url("{{ trip.img }}");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-shadow: aquamarine 0.2em;
    color: #abe6f1;
    text-shadow: 5px 5px 10px #063842;
    -webkit-text-stroke: 0.3px #063842;
}